<p><a routerLink="/division-form">Division form</a></p>
<p><a routerLink="/table-ag-grid">Table with Angular Grid</a></p>

<mat-card class="container-card">
  <form id="inputForm" [formGroup]="inputForm" class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <input
        appOnlynumber
        matInput
        name="firstInput"
        placeholder="Ex. 24"
        formControlName="firstInputValue"
      />
      <mat-error *ngIf="inputForm.get('firstInputValue').hasError('required')">
        Numerator is required
      </mat-error>
    </mat-form-field>
    /
    <mat-form-field class="example-full-width" appearance="fill">
      <input
        appOnlynumber
        matInput
        name="secondInput"
        placeholder="Ex. 12"
        formControlName="secondInputValue"
      />
      <mat-error *ngIf="inputForm.get('secondInputValue').hasError('required')">
        Denominator is required
      </mat-error>
    </mat-form-field>
    =
    <mat-form-field class="example-full-width">
      <input id="result" matInput name="result" formControlName="result" />
    </mat-form-field>
  </form>
</mat-card>
